<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    {% extends "pages/layout.html" %}
    {% block title %} Đăng ký thành viên {% endblock %}
    
</head>
<body>
    {% block content %}
    <div class="breadcrumb_background margin-bottom-40">
        <div class="title_full">
            <div class="container a-center">
                <p class="title_page">Đăng ký tài khoản</p>
            </div>
        </div>
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 a-center">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a href="/"><span>Trang chủ</span></a>
                                <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                            </li>

                            <li><strong><span>Đăng ký tài khoản</span></strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="bg_base_lr">
        <div class="container">
            <div class="row row-noGutter-2">
                <div class="content_login_base bg_login">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-bottom-40 padding_xs_0">
                        <div class="page_login_ page_base_h">
                            <div id="login">
                                <form method="post" action="{% url 'UserMember:register' %}" id="customer_register" accept-charset="UTF-8">
                                    {% csrf_token %}
                                    <input name="FormType" type="hidden" value="customer_register" />
                                    <input name="utf8" type="hidden" value="true" />
                                    <input type="hidden" id="Token-3552b799a51946ce9a932c4c6808ffcb" name="Token" />
                                    <script src="https://www.google.com/recaptcha/api.js?render=6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK"></script>
                                    <script>
                                        grecaptcha.ready(function () {
                                            grecaptcha.execute("6Ldtu4IUAAAAAMQzG1gCw3wFlx_GytlZyLrXcsuK", { action: "customer_register" }).then(function (token) {
                                                document.getElementById("Token-3552b799a51946ce9a932c4c6808ffcb").value = token
                                            });
                                        });
                                    </script>
                                    <div class="form-signup text_warning margin-bottom-10">
                                        <!-- Bạn có thể thêm thông báo lỗi ở đây nếu cần -->
                                    </div>
                                    <div class="form-signup form_hh clearfix">
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                                <h1 class="title_center_page title_customers"><span>Đăng ký tài khoản</span></h1>
                                                <div class="content_all">
                                                    <fieldset class="form-group content_r">
                                                        <input type="text" placeholder="Tên tài khoản" class="form-control form-control-lg" value="" name="username" id="username" required>
                                                    </fieldset>
                                                    <fieldset class="form-group content_r">
                                                        <input type="email" placeholder="Email" class="form-control form-control-lg" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="" name="email" id="email" required="">
                                                    </fieldset>
                                                    <fieldset class="form-group content_r">
                                                        <input type="tel" placeholder="Số điện thoại" class="form-control form-control-lg" pattern="\d+" value="" name="phone" id="phone" required="">
                                                    </fieldset>
                                                    <fieldset class="form-group content_r">
                                                        <input type="password" placeholder="Mật khẩu" class="form-control form-control-lg" value="" name="password1" required>
                                                    </fieldset>
                                                    <fieldset class="form-group content_r">
                                                        <input type="password" placeholder="Nhập lại mật khẩu" class="form-control form-control-lg" value="" name="password2" required>
                                                    </fieldset>
                                                </div>
                                                <div class="btn_style">
                                                    <button type="submit" value="Đăng ký" class="button_gradient btn btn-primary btn_customer">Đăng ký</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
	$(function() {
		$('#staticParent').on('keydown', '#phoneNumber', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
	})
    </script>
    {% endblock %}

</body>
</html>