<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    {% extends "pages/layout.html" %}
    {% load static %}
</head>
<body>
    {% block content %}
    <div class="breadcrumb_background margin-bottom-40">
        <div class="title_full">
            <div class="container a-center">
                <p class="title_page">Tin tức</p>
            </div>
        </div>
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 a-center">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a href="/"><span>Trang chủ</span></a>
                                <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                            </li>


                            <li><strong><span>Tin tức</span></strong></li>


                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container" itemscope itemtype="https://schema.org/Blog">
        <meta itemprop="name" content="Tin tức">
        <meta itemprop="description" content="">
        <div class="row">

            <div class="content_all f-left w_100">
                <div class="right-content margin-bottom-fix margin-bottom-50-article col-md-12 col-sm-12 col-xs-12">
                    <div class="box-heading relative">

                        <h1 class="title-head page_title">
                            Tin tức
                        </h1>

                    </div>

                    <div class="list-blogs blog-main row">

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="blog_index">
                                <div class="myblog" onclick="window.location.href='https://greenfamily.com.vn/rau-xanh-tang-gia-manh-vi-troi-mua-nguoi-dan-noi-thanh-lao-dao';">
                                    <div class="image-blog-left a-center">

                                        <a class="image-blog" href="https://greenfamily.com.vn/rau-xanh-tang-gia-manh-vi-troi-mua-nguoi-dan-noi-thanh-lao-dao" title="Rau xanh tăng giá mạnh vì trời mưa, người dân nội thành lao đao">
                                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//bizweb.dktcdn.net/thumb/large/100/350/980/articles/49997669-476326726231228-9092403644171095934-n.jpg?v=1553650991913" alt="Rau xanh tăng giá mạnh vì trời mưa, người dân nội thành lao đao">
                                        </a>

                                        <div class="date_blog">
                                            <i class="far fa-calendar"></i><b class="color_main">27/03/2019</b>
                                            &nbsp; Đăng bởi: <b class="color_main">Cool Team</b>
                                        </div>
                                    </div>
                                    <div class="content_blog">
                                        <div class="content_right">
                                            <h3>
                                                <a href="https://greenfamily.com.vn/rau-xanh-tang-gia-manh-vi-troi-mua-nguoi-dan-noi-thanh-lao-dao" title="Rau xanh tăng giá mạnh vì trời mưa, người dân nội thành lao đao">Rau xanh tăng giá mạnh vì trời mưa, người dân nội thành lao đao</a>
                                            </h3>
                                        </div>
                                        <div class="summary_item_blog">
                                            <p>Khoảng gần một tuần nay, do ảnh hưởng của những cơn mưa lớn kéo dài liên tiếp nên ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="blog_index">
                                <div class="myblog" onclick="window.location.href='https://cafef.vn/nhap-khau-rau-qua-vuot-moc-1-ty-usd-thai-lan-chiem-60-thi-phan-2017092707394307.chn';">
                                    <div class="image-blog-left a-center">

                                        <a class="image-blog" href="https://cafef.vn/nhap-khau-rau-qua-vuot-moc-1-ty-usd-thai-lan-chiem-60-thi-phan-2017092707394307.chn" title="Nhập khẩu rau quả vượt mốc 1 tỷ USD, Thái Lan chiếm 60% thị phần">
                                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//bizweb.dktcdn.net/thumb/large/100/350/980/articles/41968416-280694729439890-8459559393178510661-n.jpg?v=1553650945157" alt="Nhập khẩu rau quả vượt mốc 1 tỷ USD, Thái Lan chiếm 60% thị phần">
                                        </a>

                                        <div class="date_blog">
                                            <i class="far fa-calendar"></i><b class="color_main">27/03/2019</b>
                                            &nbsp; Đăng bởi: <b class="color_main">Cool Team</b>
                                        </div>
                                    </div>
                                    <div class="content_blog">
                                        <div class="content_right">
                                            <h3>
                                                <a href="https://cafef.vn/nhap-khau-rau-qua-vuot-moc-1-ty-usd-thai-lan-chiem-60-thi-phan-2017092707394307.chn" title="Nhập khẩu rau quả vượt mốc 1 tỷ USD, Thái Lan chiếm 60% thị phần">Nhập khẩu rau quả vượt mốc 1 tỷ USD, Thái Lan chiếm 60% thị phần</a>
                                            </h3>
                                        </div>
                                        <div class="summary_item_blog">
                                            <p>Theo báo cáo từ Bộ NN&amp;PTNT, giá trị xuất khẩu hàng rau quả tháng 9 năm 2017 ướ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="blog_index">
                                <div class="myblog" onclick="window.location.href='https://hoangkieufoods.com/bi-quyet-bao-quan-nho-den-trong-tu-lanh-tuoi-lau-hon/';">
                                    <div class="image-blog-left a-center">

                                        <a class="image-blog" href="https://hoangkieufoods.com/bi-quyet-bao-quan-nho-den-trong-tu-lanh-tuoi-lau-hon/" title="Bí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơn">
                                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//bizweb.dktcdn.net/thumb/large/100/350/980/articles/istock-688005624-1000-plus-copy.jpg?v=1553650879330" alt="Bí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơn">
                                        </a>

                                        <div class="date_blog">
                                            <i class="far fa-calendar"></i><b class="color_main">27/03/2019</b>
                                            &nbsp; Đăng bởi: <b class="color_main">Cool Team</b>
                                        </div>
                                    </div>
                                    <div class="content_blog">
                                        <div class="content_right">
                                            <h3>
                                                <a href="https://hoangkieufoods.com/bi-quyet-bao-quan-nho-den-trong-tu-lanh-tuoi-lau-hon/" title="Bí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơn">Bí quyết bảo quản nho đen trong tủ lạnh tươi lâu hơn</a>
                                            </h3>
                                        </div>
                                        <div class="summary_item_blog">
                                            <p>Bí quyết lựa chọn và bảo quản nho tươi – Nho rất ngon và tốt cho sức khỏe, tuy nhi...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="blog_index">
                                <div class="myblog" onclick="window.location.href='https://greenfamily.com.vn/nhung-loai-trai-cay-nhat-dat-nhu-vang-rong-do-bo-ve-viet-nam';">
                                    <div class="image-blog-left a-center">

                                        <a class="image-blog" href="https://greenfamily.com.vn/nhung-loai-trai-cay-nhat-dat-nhu-vang-rong-do-bo-ve-viet-nam" title="Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam">
                                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//bizweb.dktcdn.net/thumb/large/100/350/980/articles/8.jpg?v=1553634487280" alt="Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam">
                                        </a>

                                        <div class="date_blog">
                                            <i class="far fa-calendar"></i><b class="color_main">27/03/2019</b>
                                            &nbsp; Đăng bởi: <b class="color_main">Cool Team</b>
                                        </div>
                                    </div>
                                    <div class="content_blog">
                                        <div class="content_right">
                                            <h3>
                                                <a href="https://greenfamily.com.vn/nhung-loai-trai-cay-nhat-dat-nhu-vang-rong-do-bo-ve-viet-nam" title="Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam">Những loại trái cây Nhật đắt như vàng ròng đổ bộ về Việt Nam</a>
                                            </h3>
                                        </div>
                                        <div class="summary_item_blog">
                                            <p>Nhật Bản là đất nước có nhiều loại hoa quả có chất lượng thuộc hàng ngon nhất thế ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="blog_index">
                                <div class="myblog" onclick="window.location.href='https://market24h.vn/tin-tuc-1/cong-dung-cua-chanh-ngam-mat-ong-chua-ho-hieu-qua.html#:~:text=C%E1%BA%A3%20hai%20nguy%C3%AAn%20li%E1%BB%87u%20Chanh,c%E1%BB%95%20h%E1%BB%8Dng%20c%E1%BB%A7a%20ch%C3%BAng%20ta.';">
                                    <div class="image-blog-left a-center">

                                        <a class="image-blog" href="https://market24h.vn/tin-tuc-1/cong-dung-cua-chanh-ngam-mat-ong-chua-ho-hieu-qua.html#:~:text=C%E1%BA%A3%20hai%20nguy%C3%AAn%20li%E1%BB%87u%20Chanh,c%E1%BB%95%20h%E1%BB%8Dng%20c%E1%BB%A7a%20ch%C3%BAng%20ta." title="Công dụng của chanh ngâm mật ong chữa ho hiệu quả">
                                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//bizweb.dktcdn.net/thumb/large/100/350/980/articles/5.jpg?v=1553634464100" alt="Công dụng của chanh ngâm mật ong chữa ho hiệu quả">
                                        </a>

                                        <div class="date_blog">
                                            <i class="far fa-calendar"></i><b class="color_main">27/03/2019</b>
                                            &nbsp; Đăng bởi: <b class="color_main">Cool Team</b>
                                        </div>
                                    </div>
                                    <div class="content_blog">
                                        <div class="content_right">
                                            <h3>
                                                <a href="https://market24h.vn/tin-tuc-1/cong-dung-cua-chanh-ngam-mat-ong-chua-ho-hieu-qua.html#:~:text=C%E1%BA%A3%20hai%20nguy%C3%AAn%20li%E1%BB%87u%20Chanh,c%E1%BB%95%20h%E1%BB%8Dng%20c%E1%BB%A7a%20ch%C3%BAng%20ta." title="Công dụng của chanh ngâm mật ong chữa ho hiệu quả">Công dụng của chanh ngâm mật ong chữa ho hiệu quả</a>
                                            </h3>
                                        </div>
                                        <div class="summary_item_blog">
                                            <p>Chắc bạn đã biết, cả chanh và mật ong đều là những nguyên liệu quý bởi những công ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            <div class="blog_index">
                                <div class="myblog" onclick="window.location.href='https://saigonstoreph.vn/4-ly-do-ban-nen-an-dau-tay-phong-tranh-ung-thu-hieu-qua';">
                                    <div class="image-blog-left a-center">

                                        <a class="image-blog" href="https://saigonstoreph.vn/4-ly-do-ban-nen-an-dau-tay-phong-tranh-ung-thu-hieu-qua" title="4 lý do bạn nên ăn dâu tây phòng tránh ung thư hiệu quả">
                                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="//bizweb.dktcdn.net/thumb/large/100/350/980/articles/6.jpg?v=1553634421470" alt="4 lý do bạn nên ăn dâu tây phòng tránh ung thư hiệu quả">
                                        </a>

                                        <div class="date_blog">
                                            <i class="far fa-calendar"></i><b class="color_main">27/03/2019</b>
                                            &nbsp; Đăng bởi: <b class="color_main">Cool Team</b>
                                        </div>
                                    </div>
                                    <div class="content_blog">
                                        <div class="content_right">
                                            <h3>
                                                <a href="https://saigonstoreph.vn/4-ly-do-ban-nen-an-dau-tay-phong-tranh-ung-thu-hieu-qua" title="4 lý do bạn nên ăn dâu tây phòng tránh ung thư hiệu quả">4 lý do bạn nên ăn dâu tây phòng tránh ung thư hiệu quả</a>
                                            </h3>
                                        </div>
                                        <div class="summary_item_blog">
                                            <p>Phòng tránh ung thư, điều chỉnh huyết áp, tăng cường hệ miễn dịch... là những tác ...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    {% endblock %}
</body>
</html>