<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xóa Loại Sản Phẩm</title>
    {% extends "pages/layout.html" %}
    {% load static %}
</head>
<body>
    {% block content %}
    <div class="breadcrumb_background margin-bottom-40">
        <div class="title_full">
            <div class="container a-center">
                <p class="title_page">Xóa danh mục</p>
            </div>
        </div>
        <section class="bread-crumb">
            <span class="crumb-border"></span>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 a-center">
                        <ul class="breadcrumb">
                            <li class="home">
                                <a href="/"><span>Trang chủ</span></a>
                                <span class="mr_lr">&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</span>
                            </li>

                            <li><strong><span>Xóa danh mục</span></strong></li>

                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <p>Bạn có chắc chắn muốn xóa loại sản phẩm "{{ loai_san_pham.TenLoaiSP }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-success" type="submit">Xóa</button>
        <a class="btn btn-danger btn-delete" href="{% url 'UserMember:quanLyDanhMuc' %}">Hủy</a>
    </form>
    {% endblock %}
</body>
</html>
